include LICENSE
include README.md
include DISTRIBUTION-README.md
include MANIFEST.in
include setup.cfg
include setup.py
include tox.ini
include CONTRIBUTIONS.md

recursive-include *.py
recursive-include gwinc *.py
recursive-include matlab *.m
recursive-include docs *
